.active-btn{
    background-color: lightblue;
}
.song-item{
    border-bottom:2px solid gray ;
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
}
.song-item:hover{
    cursor: pointer;
    background-color: antiquewhite;
}
.active-song{
    background-color: gray;
}